BasedOnStyle: Microsoft
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Allman
ColumnLimit: 100

AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Preserve
SortIncludes: Never
